.jfx-text-field
{
    -jfx-focus-color: red;
    -jfx-unfocus-color: black;
}
.jfx-combo-box
{
    -jfx-focus-color: white;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.text-field
{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.text-field .input-line
{
    -fx-background-color: white;
}

.date-picker .text-field {
    -fx-control-inner-background: white ;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}
.jfx-button{
    -fx-background-color: #253543;


}

.jfx-button:hover {
    -fx-background-color: #aaaaaa;
    -fx-text-fill: black;
}

.jfx-button:armed {
    -fx-background-color: red;
    -fx-text-fill: black;
}
